body {
  margin: 0 0;  // left align body ala .txt
}

// header logic
// ascii blocks should use `display` to control visibility b/c it can counter
// the HTML `hidden` attribute
// https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/hidden
// https://developer.mozilla.org/en-US/docs/Web/CSS/visibility
header {
  #cowsay, #figlet {
    margin: 0 auto;
  }
  #figlet {
    width: 65ch;
    display: block;
  }
  #cowsay {
    width: 29ch;
    height: 0;
    display: none;
  }
}

// Collapse header when on smaller displays
@media (max-width: 66ch) {
  header {
    margin-left: 0;
    #figlet {
      height: 0;
      display: none;
    }
    #cowsay {
      height: auto;
      display: block;
    }
  }
}
@media (max-width: 30ch) {
  header {
    margin-left: 0;
    #cowsay {
      height: 0;
      visibility: hidden;
    }
    display: none;  // remove header completely
  }
  body {
    grid-template-rows: 1fr auto;  // reset grid template w/o header
  }
}

ul {
  padding-left: 2ch;
  list-style-type: '- ';
  // list-style-position: inside;
  li {
    p {
      display: inline;
    }
  }
}
