body {
  margin: 0 0;  // left align body ala .txt
}

// header logic
header {
  #cowsay, #figlet {
    margin: 0 auto;
  }
  #figlet {
    width: 65ch;
  }
  #cowsay {
    width: 29ch;
    height: 0;
    visibility: hidden;
  }
}

// Collapse header when on smaller displays
@media (max-width: 66ch) {
  header {
    margin-left: 0;
    #figlet {
      height: 0;
      visibility: hidden;
    }
    #cowsay {
      height: auto;
      visibility: unset;
    }
  }
}
@media (max-width: 30ch) {
  header {
    margin-left: 0;
    #cowsay {
      height: 0;
      visibility: hidden;
    }
    display: none;  // remove header completely
  }
  body {
    grid-template-rows: 1fr auto;  // reset grid template w/o header
  }
}

ul {
  padding-left: 0;
  list-style-type: '-';
  list-style-position: inside;
  li {
    p {
      display: inline;
    }
  }
}
