// variable definitions
:root {
    --link-color: blue;
    --link-visited-color: purple;
    --text-color: black;
    --background-color: white;
}

// selection mixin
@mixin selectable {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

* {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: var(--text-color);
    margin: 0;
}

html {
    background-color: var(--background-color);
}

header {
    #cowsay, #figlet {
        margin: 0 auto;
    }
    #figlet {
        width: 65ch;
    }
    #cowsay {
        width: 29ch;
        height: 0;
        visibility: hidden;
    }
}

// Collapse header when on smaller displays
@media (max-width: 67ch) {
    header {
        margin-left: 0;
        #figlet {
            height: 0;
            visibility: hidden;
        }
        #cowsay {
            height: auto;
            visibility: unset;
        }
    }
}
@media (max-width: 31ch) {
    header {
        margin-left: 0;
        #cowsay {
            height: 0;
            visibility: hidden;
        }
    }
}

body {
    width: 80ch;
    max-width: calc(100vw - 2ch);
    margin: 1ch;
    overflow-x: hidden;  // cutoff "---" lines (everything else should wrap)
}

footer {
    text-align: center;
}

ul {
    padding-left: 2ch;
    list-style-type: '- '
}

ul.inline {
    padding: 0;
    list-style-type: none;
    li {
        user-select: all;
        -moz-user-select: text;
        display: inline;
    }
    li::after {
        -moz-user-select: text;
        content: " | "
    }
    li:last-child::after {
        content: none;
    }
}

a {
    color: unset;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: var(--link-color);
}
a:hover {
    color: var(--link-color);
    text-decoration-style: solid;
}
a:visited {
    color: unset;
    text-decoration-color: var(--link-visited-color);
}
a:visited:hover {
    color: var(--link-visited-color);
}

a.hidden {
    color: unset;
    text-decoration: none;
    border: none;
}
a.hidden:visited {
    color: unset;
}

.struck {
    text-decoration: line-through;
    text-decoration-color: red;
}

span.tags {
    a {
        color: unset;
        text-decoration-color: unset;
        text-decoration-line: none;
    }
    a:hover {
        color: inherit;
        text-decoration-line: underline;
    }
    .software, .hardware {color: green}
    .oc {color: red}
    .olin {color: #009BDF}
    span {
        @include selectable();
    }
    span::after {
        content: ";";
        color: var(--text-color);
        @include selectable();
    }
    span:last-child::after {
        content: none;
    }
}

span.tags::before {
    content: "[";
    @include selectable();
}
span.tags::after {
    content: "]";
    @include selectable();
}
