<!DOCTYPE html>
<html lang="{{ default $.Site.LanguageCode .Lang }}">

  <head>
    {{ partial "head/meta.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ partial "head/title-desc.html" . }}
    {{- block "style" . }}{{ end }}
    <link rel="canonical" href="{{ replace .URL "index.html" "" }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    {{ template "_internal/google_analytics_async.html" . }}
  </head>

  <body>

    {{ block "main" . }}
    {{ end }}

  </body>

</html>
