{{ define "main" }}
<article class="post">
  <header>
    <h1>{{ .Title }}</h1>
    <section class="meta">
      <span>{{ .Date.Format "2006-01-02" }}</span>,
      {{- if isset .Params "categories" -}}
      <span class="labels categories">
            {{- range .Params.categories -}}
            <span class="{{.}}"><a href="/categories/{{.}}/">{{.}}</a></span>
            {{- end -}}
          </span>
      {{- end -}}
      {{- if isset .Params "tags" -}}
      <span class="labels tags">
            {{- range .Params.tags -}}
            <span class="{{.}}"><a href="/tags/{{.}}/">{{.}}</a></span>
            {{- end -}}
      </span>
      {{- end -}}
    </section>
  </header>
  <br>
  <section>
    {{ .Content }}
  </section>
</article>
{{ end }}