<pre role="none">
--------------------------------------8<----------------------------------------
</pre>
<ul class="inline">
    <li><a href="/a-e-s-t-h-e-t-i-c" title="This actually less compatible with older browsers">version for older browsers</a></li>
    <li><a href="/cookie_policy">cookie policy</a></li>
    <li><a href="https://github.com/newsch/fork">fork on GitHub</a></li>
    {{/*  <li><a href="https://github.com/newsch/newsch.github.io/commit/{{ .GitInfo.Hash }}"></a>{{ .GitInfo.AbbreviatedHash }}</li>  */}}
</ul>
<p><a href="https://github.com/newsch/newsch.github.io/issues?q=is%3Aopen" class="hidden">more coming soon&trade;</a></p>