<!DOCTYPE html>
<html lang="{{ default $.Site.LanguageCode .Lang }}">
  <head>
    {{ partial "head/meta.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ partial "head/title-desc.html" . }}
    <link rel="canonical" href="{{ replace .URL "index.html" "" }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto+Mono" rel="stylesheet">
    {{ partial "head/main-style.html" }}
    {{- $styleOptions := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
    {{- $style := resources.Get "sass/index.scss" | toCSS $styleOptions -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ template "_internal/google_analytics_async.html" . }}
  </head>
<body>
  <header>
<pre id="figlet" aria-label="New-Schmidt" role="img">
 _   _                   ____       _               _     _ _
| \ | | _____      __   / ___|  ___| |__  _ __ ___ (_) __| | |_
|  \| |/ _ \ \ /\ / /___\___ \ / __| '_ \| '_ ` _ \| |/ _` | __|
| |\  |  __/\ V  V /_____|__) | (__| | | | | | | | | | (_| | |_
|_| \_|\___| \_/\_/     |____/ \___|_| |_|_| |_| |_|_|\__,_|\__|
</pre>
<pre id="cowsay" aria-label="New-Schmidt" role="img" hidden>
 _____________
< New-Schmidt >
 -------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
</pre>
  </header>
  <main>
    <p>Hey!</p>
    <br>
    <p>I'm Evan Lloyd New-Schmidt, and this is <a class="hidden" href="{{ $.Site.BaseURL }}">my website</a>.</p>
    <br>
    <p>
      I go to <a href="https://www.olin.edu/">Olin College of
      Engineering</a> and like some things, including (but not limited to)
      software, systems, photography, and old(er) tech.
    </p>
    <br>
    <p>
      I've done <a href="/things">some things</a> and had <a href="/thoughts">some thoughts</a>.
    </p>
    {{- $pages := (where .Site.RegularPages "Type" "in" (slice "thoughts" "things")) }}
    {{- if (gt (len $pages) 0) -}}
    <p>
      Most recently I've been up to:
    </p>
    <ul>
      {{- range $pages }}
        <li>
          <p>
            <span class= "date">{{ .Date.Format "2006-01" }}</span>
            <span class="title"><a href="{{.RelPermalink}}">{{default .RelPermalink .Title}}</a></span>
            <!-- <span class="type">{{.Type}}</span> -->
            {{if isset .Params "categories" -}}
              <span class="labels categories">
                {{- range .Params.categories -}}
                <span class="{{.}}"><a href="/categories/{{.}}/">{{.}}</a></span>
                {{- end -}}
              </span>
            {{- end}}
            <!-- {{- if isset .Params "tags" -}}
              <span class="labels tags">
                    {{- range .Params.tags -}}
                    <span class="{{.}}"><a href="/tags/{{.}}/">{{.}}</a></span>
                    {{- end -}}
              </span>
            {{- end -}} -->
          </p>
          {{/*  <p><i>
            {{ if (gt (countrunes .Description) 78) -}}
              {{slicestr .Description 0 75}}...
            {{- else -}}
              {{.Description}}
            {{- end -}}
          </i></p>  */}}
        </li>
      {{- end }}
    </ul>
    {{- end }}
    <br>

  </main>
  <footer>
<pre role="none">
--------------------------------------------------------------------------------
</pre>
      <p>You can find me on the &#39;net in some other places as well, mostly as "<a href="http://news.ch/" title="sadly this url is already taken" class="hidden">newsch</a>":</p>
      <ul class="inline">
        <li><a href="mailto:evan@new-schmidt.com">e-mail</a></li>
        <li><a href="https://github.com/newsch">github</a></li>
        <li><a href="https://gitlab.com/newsch">gitlab</a></li>
        <li><a href="https://keybase.io/newsch/">keybase</a></li>
        <li><a href="https://www.flickr.com/photos/newsch/">flickr</a></li>
      </ul>
  {{ partial "footer-general.html" }}
</body>
