{{ define "style" -}}
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto+Mono" rel="stylesheet">

  {{- $styleOptions := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
  {{- $style := resources.Get "sass/index.scss" | toCSS $styleOptions -}}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}
{{ define "main" }}
  <header>
<pre id="figlet" aria-label="New-Schmidt" role="img">
 _   _                   ____       _               _     _ _
| \ | | _____      __   / ___|  ___| |__  _ __ ___ (_) __| | |_
|  \| |/ _ \ \ /\ / /___\___ \ / __| '_ \| '_ ` _ \| |/ _` | __|
| |\  |  __/\ V  V /_____|__) | (__| | | | | | | | | | (_| | |_
|_| \_|\___| \_/\_/     |____/ \___|_| |_|_| |_| |_|_|\__,_|\__|
</pre>
<pre id="cowsay" aria-label="New-Schmidt" role="img">
 _____________
< New-Schmidt >
 -------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
</pre>
    </header>
    <main>
      <p>Hey!</p>
      <br>
      <p>This is <a class="hidden" href="{{ $.Site.BaseURL }}">Evan Lloyd New-Schmidt's website</a>.</p>
      <br>
      <p>
        He goes to <a href="https://www.olin.edu/">Olin College of Engineering</a> and likes some things, including (but not limited to) software, systems, photography, and old(er) tech.
      </p>
      <br>
      <p>
        He <span class="struck">has</span> will do some things<!-- [some things](/things) --> and <span class="struck">has</span> will have some thoughts<!-- <a href="/thoughts">a thought</a> -->.
        Most recently (as far as we know), he's been up to:
      </p>
      <ul>
        {{ range (where .Pages "Kind" "in" (slice "thoughts" "things" "page")) }}
          <li>
            <p>
              <span class= "date">{{ .Date.Format "2006-01" }}</span>
              <span class="title"><a href="{{.RelPermalink}}">{{default .RelPermalink .Title}}</a></span>
              <span class="type">{{.Type}}</span>
              {{if isset .Params "tags" -}}
                <span class="tags">
                  {{- range .Params.tags -}}
                  <span class="{{.}}"><a href="/tags/{{.}}/">{{.}}</a></span>
                  {{- end -}}
                </span>
              {{- end}}
            </p>
            {{/*  <p><i>
              {{ if (gt (countrunes .Description) 78) -}}
                {{slicestr .Description 0 75}}...
              {{- else -}}
                {{.Description}}
              {{- end -}}
            </i></p>  */}}
          </li>
        {{ end }}
      </ul>
      <br>

    </main>
    <footer>
<pre role="none">
--------------------------------------------------------------------------------
</pre>
      <p>You can find him on the &#39;net in some other places as well, mostly as "<a href="http://news.ch/" title="sadly this url is already taken" class="hidden">newsch</a>":</p>
      <ul class="inline">
        <li><a href="mailto:evan@new-schmidt.com">e-mail</a></li>
        <li><a href="https://github.com/newsch">github</a></li>
        <li><a href="https://keybase.io/newsch/">keybase</a></li>
        <li><a href="https://www.flickr.com/photos/newsch/">flickr</a></li>
      </ul>
<pre role="none">
--------------------------------------------------------------------------------
</pre>
      <ul class="inline">
        <li><a href="/a-e-s-t-h-e-t-i-c">version for older browsers</a></li>
        <li><a href="/cookie_policy">cookie policy</a></li>
        <li><a href="https://github.com/newsch/fork">fork on GitHub</a></li>
        {{/*  <li><a href="https://github.com/newsch/newsch.github.io/commit/{{ .GitInfo.Hash }}"></a>{{ .GitInfo.AbbreviatedHash }}</li>  */}}
      </ul>
  </footer>
{{ end }}
