//variables
$purple: #8795e8;
$pink: #fd80fe;
$yellow: yellow;
$blue: lightblue;

* {
    font-family: "Times New Roman", serif;
}

body {
    background: $purple;
    background: linear-gradient($purple, $pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

h1 {
    text-align: center;
}

#rapper {
  width: 90%;
  height: 90vh;
  margin: 0 5%;
  position: absolute;
  // if viewed in portrait
  @media (orientation: portrait) {
      max-height: 120vw;
      top: 5%;
  }
}

#windows {
    /*  windows sizing for landscape
        windows window with a full height of 543 and width of 724
        actual desktop area is 28px smaller */
    $windows_height_px: 540px;
    $windows_width_px: 720px;
    $windows_taskbar_height: 28px;
    $windows_height: 90vh / 1.5;
    $windows_width: $windows_height * $windows_width_px / $windows_height_px;
    height: $windows_height;
    width: $windows_width;
    top: 10%;
    left: 5%;
    // if viewed in portrait
    @media (orientation: portrait) {
        $windows_width: 90vw;
        $windows_height: $windows_width * $windows_height_px / $windows_width_px;
        height: $windows_height;
        width: $windows_width;
        left: 0;
    }
    background-image: url("el_windows.png");
    margin: 0 auto;
    display: block;
    position: absolute;
    background-size: cover;
    //skew skew skew
    transform: skewY(-10deg);
    #paint {
        /* paint program window is positioned in the center, with a full height of 452 and width of 640 */
        $paint_height: 452px;
        $paint_width: 640px;
        height: percentage($paint_height / $windows_height_px);
        width: percentage($paint_width / $windows_width_px);
        background-image: url("el_paint.png");
        position: absolute;
        // center the gawsh-darn thing on the desktop
        top: percentage((($windows_height_px - $paint_height - $windows_taskbar_height) / 2) / $windows_height_px);
        left: percentage((($windows_width_px - $paint_width) / 2) / $windows_width_px);
        background-size: inherit;

        #paint_canvas {
            /* canvas needs to be positioned at (66, 47) at full size with a height of 311 and a width of 552 */
            $paint_canvas_height: 311px;
            $paint_canvas_width: 552px;
            $paint_canvas_x: 66px;
            $paint_canvas_y: 47px;
            position: absolute;
            overflow: hidden;
            left: percentage($paint_canvas_x / $paint_width);
            top: percentage($paint_canvas_y / $paint_height);
            height: percentage($paint_canvas_height / $paint_height);
            width: percentage($paint_canvas_width / $paint_width);

            #paint_text {
                padding: 15px;
                height: 100%;
                width: 100%;
                font-size: 1rem;
                cursor: url(pencil_filled.cur), auto;
            }
        }
    }
}

#me {
    position: absolute;
    max-height: 66%;
    max-width: 66%;
    bottom: 10%;
    right: 15%;
    // if viewed in portrait
    @media (orientation: portrait) {
        max-width: 33%;
    }
}

#bust {
    position: absolute;
    max-height: 33%;
    max-width: 25%;
    bottom: 5%;
    left: 15%;
    // if viewed in portrait
    @media (orientation: portrait) {
        max-width: 20%;
    }
}

#grid {
    position: absolute;
    background-image: url('grid.png');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    top: 100%;
    transform: perspective(80vh) rotateX(230deg);
    transform-origin: top;
    position: absolute;
    z-index: -1;
}

.trippy {
    color: $purple;
    text-shadow: 4px 4px $yellow;
    animation: text_pulse 1s alternate infinite linear;
}

@keyframes text_pulse {
    0% {
        color: $pink;
    }

    100% {
        color: $blue;
    }
}
