* {
  font-family: "Times New Roman", serif;
}

body {
    background: #8795e8;
    background: linear-gradient(#8795e8, #fd80fe);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

#windows {
  /*  windows sizing for landscape
      windows window with a full height of 543 and width of 724
      actual desktop area is 28px smaller */
  height: 80vh;
  width: 106.6667vh;
  background-image: url(windows_me_es_smaller.png);
  background-size: cover;
  margin: 0 auto;
  position: relative;
}

/* if viewed in portrait */
@media (orientation: portrait) {
  #windows {
    width: 90vw;
    height: 67.5vw;
  }
}

#paint {
  /* paint program window is positioned in the center, with a full height of 452 and width of 640 */
  height: 83.2413%;
  width: 88.3978%;
  background-image: url(paint_es.png);
  background-size: inherit;
  position: absolute;
  /* center the gawsh-darn thing */
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#paint_canvas {
  /* canvas needs to be positioned at (66, 47) at full size with a height of 311 and a width of 552 */
  position: absolute;
  overflow: hidden;
  left: 10.3125%;
  top: 10.3982%;
  width: 86.25%;
  height: 68.8053%;
}

#paint_text{
  padding: 15px;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  cursor: url(pencil_filled.cur), auto;
}


.trippy {
  color: #fd80fe;
  text-shadow: 4px 4px yellow;
  animation: text_pulse 1s alternate infinite linear;
}

@keyframes text_pulse {
  0% {
    color: #fd80fe;
  }
  100% {
    color: lightblue;
  }
}
