//variables
$purple: #8795e8;
$pink: #fd80fe;
$yellow: yellow;
$blue: lightblue;

* {
    font-family: "Times New Roman", serif;
}

body {
    background: $purple;
    background: linear-gradient($purple, $pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

#windows {
    /*  windows sizing for landscape
        windows window with a full height of 543 and width of 724
        actual desktop area is 28px smaller */
    $windows_height: 543px;
    $windows_width: 724px;
    $windows_taskbar_height: 28px;
    height: 80vh;
    width: 80vh * $windows_width / $windows_height;
    // if viewed in portrait
    @media (orientation: portrait) {
        width: 90vw;
        height: 90vw * 3 / 4;
    }
    background-image: url("windows_me_es.png");
    margin: 0 auto;
    position: relative;
    background-size: cover;

    #paint {
        /* paint program window is positioned in the center, with a full height of 452 and width of 640 */
        $paint_height: 452px;
        $paint_width: 640px;
        height: percentage($paint_height / $windows_height);
        width: percentage($paint_width / $windows_width);
        background-image: url("paint_es.png");
        position: absolute;
        // center the gawsh-darn thing on the desktop
        top: percentage((($windows_height - $paint_height - $windows_taskbar_height) / 2) / $windows_height);
        left: percentage((($windows_width - $paint_width) / 2) / $windows_width);
        background-size: inherit;

        #paint_canvas {
            /* canvas needs to be positioned at (66, 47) at full size with a height of 311 and a width of 552 */
            $paint_canvas_height: 311px;
            $paint_canvas_width: 552px;
            $paint_canvas_x: 66px;
            $paint_canvas_y: 47px;
            position: absolute;
            overflow: hidden;
            left: percentage($paint_canvas_x / $paint_width);
            top: percentage($paint_canvas_y / $paint_height);
            height: percentage($paint_canvas_height / $paint_height);
            width: percentage($paint_canvas_width / $paint_width);

            #paint_text {
                padding: 15px;
                height: 100%;
                width: 100%;
                font-size: 1rem;
                cursor: url(pencil_filled.cur), auto;
            }
        }
    }
}

.trippy {
    color: $purple;
    text-shadow: 4px 4px $yellow;
    animation: text_pulse 1s alternate infinite linear;
}

@keyframes text_pulse {
    0% {
        color: $pink;
    }

    100% {
        color: $blue;
    }
}
